# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Storage.iml
# Datasource local storage ignored files
/../../../../../../../../:\RiderProjects\hse\module1\Storage\.idea\.idea.Storage\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
